name: Check on PR > Auto Deploy on Dev
on:
  push:
    branches:
      - HOTI-1457_cypress-ci
  pull_request:
    branches:
      - HOTI-1457_cypress-ci

jobs:

  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.yarn
            **/node_modules/.cache
          key: ${{ runner.OS }}-check-${{ hashFiles('**/package-lock.json') }}
      - name: Install Dependencies
        working-directory: ./src
        run: yarn
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn run build
          start: yarn start
          wait-on: http://localhost:3000
          browser: chrome
          headless: true
      # - uses: actions/upload-artifact@v1
      #   if: failure()
      #   with:
      #     name: cypress-screenshots
      #     path: cypress/screenshots
      # - uses: actions/upload-artifact@v1
      #   if: always()
      #   with:
      #     name: cypress-videos
      #     path: cypress/videos
